/* Base Styles */
*{
    align-items: center;
    text-align: center;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #153677, #4e085f);
    height: calc(100vh - 80px);
    text-align: center;
}

.text-1 {
    word-spacing: 20px;
    letter-spacing: 2px;
    padding: 60px;
    font-size: 30px;
}

.pre {
    padding: 15px;
    border-radius: 20px;
    background: transparent;
    width: 100px;
    color: aqua;
}

.education-p {
    font-size: 10px;
    color: rgb(1, 1, 17);
}

#h3 {
    color: black;
    background: aqua;
}
.find1{
    background: aqua;
    border-radius: 20px;
    font-size: 60px;
}

.find {
    color: aqua;
    font-size: 30px;
}

.skill-li,
.skills li {
    padding: 10px;
    font-size: 40px;
    list-style-type: none;
}

.skills {
    color: aqua;
}

/* Additional Styles */
.img1 {
    width: 700px;
}

.link-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 15px;
}

.link {
    margin: 0 10px;
}

.link img {
    width: 100px;
    height: auto;
    border: 2px solid aqua;
    background: white;
    padding: auto;
}


img {
    border-radius: 20px;
    margin: 20px;
    margin-left: 20px;
}

h1 {
    padding: 15px;
    color: aqua;
    font-size: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.gif {
    width: 100px;
}


.footer {
    background-color:#153677; /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    border-radius: 20px; /* Rounded corners */
    padding: 20px; /
}

.project-link {
    display: inline-block;
    text-decoration: none;
    border: 2px solid aqua;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
    color: aqua;
    background: transparent;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    height: 400px;
}

.name {
    color: aqua;
    padding: 10px;
}

.h33 {
    color: aquamarine;
    font-size: 40px;
}

.text1 {
    color: blanchedalmond;
}

#li-1,
#li-3 {
    color: rgb(2, 2, 37);
    background-color: aqua;
    padding: 15px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
}

.project-h3,
.pro-h2 {
    color: black;
    font-size: 40px;
    border: 2px solid aqua;
    background: aqua;
    border-radius: 20px;
}

p {
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-link img {
    width: 200px;
    height: 50%;
    display: block;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    body {
        height: auto;
    }

    .text-1 {
        padding: 30px;
        font-size: 20px;
    }

    .pre {
        padding: 10px;
        width: auto;
    }

    .skill-li,
    .skills li {
        padding: 5px;
        font-size: 20px;
    }

    img {
        margin: 10px;
        margin-left: 10px;
    }

    h1 {
        font-size: 40px;
    }
    .img1{
        width: 450px;
    }

    .gif {
        width: 100px;
        margin-left: 20px;
    }

    .footer {
        background-color: #153677; /* Semi-transparent white background */
        backdrop-filter: blur(10px); /* Apply blur effect */
        border-radius: 20px; /* Rounded corners */
        padding: 20px; /
    }

    .project-link {
        height: auto;
    }

    .project-link img {
        width: 150px;
        height: auto;
    }

    #li-1,
    #li-3 {
        font-size: 20px;
        width: auto;
    }

    .link-1 img{
        width: 20px;
        padding: 0;
        margin: o;
        
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Adjustments for medium-sized screens */
    h1 {
        font-size: 40px;
    }

    
}

@media only screen and (max-width: 480px) {
    /* Adjustments for very small screens */
    .list-box {
        width: 100%;
        margin-left: 0;
    }

    h1 {
        font-size: 24px;
    }

    .link img {
        width: 10px;
    }

    body {
        height: auto;
    }

    

}

